<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Upload Berkas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1 class="mt-5">Upload Berkas</h1>
    <form th:action="@{/upload-files}" method="post" enctype="multipart/form-data" class="mt-3">
        <div class="form-group">
            <label for="ktp">KTP (PDF)</label>
            <input type="file" class="form-control" id="ktp" name="ktp" accept=".pdf" required>
        </div>
        <div class="form-group">
            <label for="sk_sehat">Surat Keterangan Sehat (PDF)</label>
            <input type="file" class="form-control" id="sk_sehat" name="sk_sehat" accept=".pdf" required>
        </div>
        <div class="form-group">
            <label for="ijazah">Ijazah Terakhir (PDF)</label>
            <input type="file" class="form-control" id="ijazah" name="ijazah" accept=".pdf" required>
        </div>
        <div class="form-group">
            <label for="pasfoto">Pas Foto 4x6 (PNG, JPG, JPEG)</label>
            <input type="file" class="form-control" id="pasfoto" name="pasfoto" accept=".png,.jpg,.jpeg" required>
        </div>
        <div class="form-group">
            <label for="biodata">Biodata (PDF)</label>
            <input type="file" class="form-control" id="biodata" name="biodata" accept=".pdf" required>
        </div>
        <div class="form-group">
            <label for="surat_pernyataan">Surat Pernyataan Bebas Parpol (PDF)</label>
            <input type="file" class="form-control" id="surat_pernyataan" name="surat_pernyataan" accept=".pdf" required>
        </div>
        <button type="submit" class="btn btn-primary">Upload</button>
    </form>

</div>
</body>
</html>
