<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pendaftaran KPPS</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1 class="mt-5">Pendaftaran Pantarlih</h1>
    <form th:action="@{/register}" method="post" enctype="multipart/form-data" class="mt-3" id="registrationForm">
        <div class="form-group">
            <label for="nik">NIK</label>
            <input type="text" class="form-control" id="nik" name="nik" required>
            <span id="nik-error" style="color: red;"></span>
        </div>
        <div class="form-group">
            <label for="name">Nama sesuai KTP</label>
            <input type="text" class="form-control" id="name" name="name" required>
        </div>
        <div class="form-group">

            <label for="tempatLahir">Tempat Lahir sesuai KTP</label>
            <input type="text" class="form-control" id="tempatLahir" name="tempatLahir" required>
        </div>
        <div class="form-group">
            <label for="tanggalLahir">Tanggal Lahir</label>
            <input type="date" class="form-control" id="tanggalLahir" name="tanggalLahir" required>
        </div>
        <div class="form-group">
            <label for="alamat">Alamat sesuai KTP</label>
            <input type="text" class="form-control" id="alamat" name="alamat" required>
        </div>
        <div class="form-group">
            <label for="rtRw">RT/RW</label>
            <input type="text" class="form-control" id="rtRw" name="rtRw" required>
        </div>
        <div class="form-group">
            <label for="desaKelurahan">Desa/Kelurahan</label>
            <input type="text" class="form-control" id="desaKelurahan" name="desaKelurahan" required>
        </div>
        <div class="form-group">
            <label for="kecamatan">Kecamatan</label>
            <input type="text" class="form-control" id="kecamatan" name="kecamatan" required>
        </div>
        <div class="form-group">
            <label for="kabupatenKota">Kabupaten/Kota</label>
            <input type="text" class="form-control" id="kabupatenKota" name="kabupatenKota" required>
        </div>
        <div class="form-group">
            <label for="nomorTelepon">Nomor Telepon</label>
            <input type="text" class="form-control" id="nomorTelepon" name="nomorTelepon" required>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('#nik').on('blur', function () {
            var nik = $(this).val();
            $.get('/check-nik', {nik: nik}, function (data) {
                if (data.exists) {
                    $('#nik-error').text('NIK sudah terdaftar!');
                    $('#nik').val('');
                } else {
                    $('#nik-error').text('');
                }
            });
        });
    });
</script>

</body>
</html>
